<h2>My Favorites</h2>
<% if (user.favorites.length > 0) { %>
  <ul class="list-group">
    <% user.favorites.forEach(fav => { %>
      <li class="list-group-item"><%= fav.title %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p class="text-muted">You have no favorites yet.</p>
<% } %>
<a href="/user/profile" class="btn btn-secondary mt-3">Back to Profile</a>
